
%footer.main-footer
  .main-footer__social.noindex{"xmlns:fn" => "http://www.w3.org/2005/xpath-functions", "xmlns:xs" => "http://www.w3.org/2001/XMLSchema"}
    .container
      .row
        .col-xs-8
          .main-footer__social-heading
            %h3 SOSYAL GÜNCELLEMELER
          .main-footer__social-external-link
            %ul
              %li.social-link.social-link--facebook
                %a{href: "https://www.facebook.com/IvecoTurkiye", target: "_blank"}
                  %span Facebook
              %li.social-link.social-link--youtube
                %a{href: "https://www.youtube.com/user/IvecoTurkiye", target: "_blank"}
                  %span YouTube
              %li.social-link.social-link--linkedin
                %a{href: "https://www.linkedin.com/company/iveco-t%C3%BCrkiye/", target: "_blank"}
                  %span LinkedIn
              %li.social-link.social-link--instagram
                %a{href: "https://www.instagram.com/ivecoturkiye/?hl=en", target: "_blank"}
                  %span Instagram
  .main-footer__navigation
    .container
      %nav
        %ul
          %li
            %a{href: "https://www.ivecogroup.com/careers/join_us", target: "_blank", title: "Kariyer"} Kariyer
          %li
            %a{href: "javascript:cookieNoticeOpen();", title: "Cookies Policy"} Cookies Policy
          %li
            %a{href: "https://www.iveco.com/turkey/pages/sitemap.aspx", title: "Site haritası"} Site haritası
          %li
            %a{href: "https://www.iveco.com/turkey/Pages/kvkk.aspx", title: "KVKK"} KVKK
  .main-footer__company-info
    .container
      .row
        .main-footer__company-logo.col-md-5
          %ul
            %li
              %a{href: "https://www.iveco.com/corporate-en/company/pages/iveco-bus-in-brief.aspx", title: "Iveco Bus"}
                %img{src: "/Common/PublishingImages/logo_bus_footer-1.gif"}/
            %li
              %a{href: "http://www.iveco-magirus.de/", title: "Magirus"}
                %img{src: "/Common/PublishingImages/logo_magirus_footer.gif"}/
            %li
              %a{href: "http://www.astraspa.com/", title: "Astra"}
                %img{src: "https://www.iveco.com/turkey/SiteCollectionImages/Iveco/img/shared/logo_astra_footer.gif"}/
            %li
              %a{href: "https://www.iveco.com/Dakar/Pages/HomePage.aspx", target: "_blank", title: "Iveco Capital"}
                %img{src: "https://www.iveco.com/turkey/SiteCollectionImages/Iveco/img/shared/logo_capital_footer.gif"}/
        .main-footer__company-copyright.col-md-7
          © IVECO – a IVECO GROUP Company – IT09709770011 –
          %a.fancybox{href: "#company-info-overlay", title: "Şirket hakkında"} Şirket hakkında
          #company-info-overlay.fancybox-content.box
            %h4.box__title
              %span Şirket hakkında
            .box__content
              %h5 IVECO S.p.A.
              Company with a sole shareholder
              %br/
              Via Puglia 35, 10156, Turin, Italy
              %br/
              Paid-in Capital 200.000.000 euros
              %br/
              Company Register of Turin/Fiscal Code 9709770011
              %br/


:javascript
    //<![CDATA[
            var formDigestElement = document.getElementsByName('__REQUESTDIGEST')[0];
            if (!((formDigestElement == null) || (formDigestElement.tagName.toLowerCase() != 'input') || (formDigestElement.type.toLowerCase() != 'hidden') ||
                (formDigestElement.value == null) || (formDigestElement.value.length <= 0)))
            {
                formDigestElement.value = '0xAE3073F682AD6AC19DB1A33D2C3631FE817913DB877D43D3658FCE43BA6893E4A8DDD4BBDA0463FD21359AAB2E64163B9BDC2C9F2417FD2EE81FF293CE4EFA31,05 Jun 2022 19:43:22 -0000';
                g_updateFormDigestPageLoaded = new Date();
            }
            //]]>
:javascript
    RegisterSod("initstrings.js", "\u002f_layouts\u002f15\u002f1033\u002finitstrings.js?rev=S11vfGURQYVuACMEY0tLTg\u00253D\u00253D");
:javascript
    //<![CDATA[
    var _spFormDigestRefreshInterval = 1440000;window.g_updateFormDigestPageLoaded = new Date(); window.g_updateFormDigestPageLoaded.setDate(window.g_updateFormDigestPageLoaded.getDate() -5);var _fV4UI = true;//]]>
:javascript
    RegisterSod("browserScript", "\u002f_layouts\u002f15\u002fie55up.js?rev=0R4dbpInVlmjoVSw2Gglmw\u00253D\u00253D");RegisterSodDep("browserScript", "strings.js");
:javascript
    //<![CDATA[
    var __wpmExportWarning='This Web Part Page has been personalized. As a result, one or more Web Part properties may contain confidential information. Make sure the properties contain information that is safe for others to read. After exporting this Web Part, view properties in the Web Part description file (.WebPart) by using a text editor such as Microsoft Notepad.';var __wpmCloseProviderWarning='You are about to close this Web Part.  It is currently providing data to other Web Parts, and these connections will be deleted if this Web Part is closed.  To close this Web Part, click OK.  To keep this Web Part, click Cancel.';var __wpmDeleteWarning='You are about to permanently delete this Web Part.  Are you sure you want to do this?  To delete this Web Part, click OK.  To keep this Web Part, click Cancel.';WPSC.Init(document);
    var varPartWPQ1 = WPSC.WebPartPage.Parts.Register('WPQ1','fa1e842a-293d-4c1f-9b14-f8d32771412c',document.getElementById('WebPartWPQ1'));
    var varPartWPQ2 = WPSC.WebPartPage.Parts.Register('WPQ2','902c194c-d702-4f5b-9b5a-a86924429a90',document.getElementById('WebPartWPQ2'));
    var varPartWPQ3 = WPSC.WebPartPage.Parts.Register('WPQ3','0b099d6a-9e03-4db6-a605-cee7d057efc6',document.getElementById('WebPartWPQ3'));
    var varPartWPQ4 = WPSC.WebPartPage.Parts.Register('WPQ4','0d5cd28e-c4cc-443f-8485-eaa24168377b',document.getElementById('WebPartWPQ4'));
    var varPartWPQ5 = WPSC.WebPartPage.Parts.Register('WPQ5','fce8c06e-f52c-4b12-afa9-d6edaf53b10e',document.getElementById('WebPartWPQ5'));
    WPSC.WebPartPage.WebURL = 'https:\u002f\u002fwww.iveco.com\u002fturkey';
    WPSC.WebPartPage.WebServerRelativeURL = '\u002fturkey';

    //]]>
/ <div class="cookies-overlay hidden">
/ <div class="container">
/ <div class="cookies-overlay__content">
/ <p>İnternet sayfasının kullanılmasıyla <a href="https://www.iveco.com/turkey/Documents/CNHInd_CookiePolicy.pdf" target="_blank">Çerez Politikamıza</a> uygun olarak çerezlerin kullanımını kabul ettiğinizi beyan edersiniz.</p>
/ <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
/ </div>
/ </div>
/ </div>
%script{src: "/common/StyleLibrary/RWDIveco/js/vendor/libs/bootstrap.min.js", type: "text/javascript"}
%script{src: "/Common/StyleLibrary/RWDIveco/js/vendor/libs/slick.js", type: "text/javascript"}
%script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBc3qKp3JBcWPcHXLZePSOCmBmZp-h_2FY&libraries=places", type: "text/javascript"}
%script{src: "/Common/StyleLibrary/RWDIveco/js/vendor/libs/main.js", type: "text/javascript"}
%script{src: "/common/StyleLibrary/RWDIveco/js/vendor/libs/modernizr.js", type: "text/javascript"}
%script{src: "/common/StyleLibrary/RWDIveco/js/vendor/libs/JSLINQ.js", type: "text/javascript"}
%script{src: "/common/StyleLibrary/RWDIveco/js/vendor/plugins.js", type: "text/javascript"}
%script{src: "/common/StyleLibrary/RWDIveco/js/custom/custom.js", type: "text/javascript"}
:css
.btn.btn-primary.pricelist-tr { display: none !important; }